<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Hardware features -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:name=".AstroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AstroApp">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.skymap.SkyMapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AstroApp.Fullscreen" />

        <activity
            android:name=".ui.starinfo.StarInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.AstroApp" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.AstroApp" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.AstroApp"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.education.EducationDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AstroApp" />

        <activity
            android:name=".ui.platesolve.PlateSolveActivity"
            android:exported="false"
            android:theme="@style/Theme.AstroApp" />

        <activity
            android:name=".ui.stacking.ImageStackingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AstroApp" />

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AstroApp" />

        <activity
            android:name=".ui.skybrightness.SkyBrightnessActivity"
            android:exported="false"
            android:theme="@style/Theme.AstroApp" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
